*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: "Festive", cursive;
    background-image: url(./img/hogwarts.jpg);
    background-size: cover;
    background-repeat: initial;
    background-position-x: center; 
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
  }
  ul{
      display:flex;
      justify-content: space-around;
      list-style-type: none
  }
  ul a{
    color: blanchedalmond;
    font-size: 0.8rem;
  }
  .img{
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
  }
  .center-card{
    justify-self: center;
  }
  .jkr{
      grid-column: 2;
      grid-row: 2;
      height: 100px;
      width: 100px;
      
  }
  .jkr img{
      border-radius: 1em;
  }
  .blasonm{
      grid-column: 1;
      grid-row: 1;
      height: 100px;
      width: 100px;
      transition: 1s;
  }
  
  .blasonm img{
    border-radius: 1em;
  } 
  .h2-griffondor {
    color: goldenrod;
  }
  .p-griffondor {
    color: darkred;
  }


/* popup blasons */


  .overlay, .overlay1 , .overlay2 , .overlay3{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba 0,0,0,0.7;
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target , .overlay1:target , .overlay2:target,  .overlay3:target{
    visibility: visible;
    opacity: 1;
}

.popup , .popup1 , .popup2 , .popup3  {
    margin: auto;
    padding: 0.5rem;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    position: relative;
    transition: all 0.4s ;
    top: 50%;
    transform: translate(0, -50%);
}
.popup .cross , .popup1 .cross1 , .popup2 .cross2 , .popup3 .cross3 {
    position: absolute;
    top: 0.25rem;
    right: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    color: #333;  
}
.popup .cross:hover {
    color: goldenrod;
}

.popup1 .cross1:hover {
  color: yellow;
}
.popup2 .cross2:hover {
  color: rgb(60, 55, 200);
}
.popup3 .cross3:hover {
  color: rgb(148, 148, 146);
}
  .blasonp{
     grid-column: 3;
     grid-row: 1; 
     height: 100px;
     width: 100px;
  }
  .blasonp img{
      border-radius: 1em;
  }
  .h2-poufsouffle {
    color: yellow;
  }
  .p-poufsouffle {
color: rgb(67, 65, 65);
  }
  
  .blasonsd{
    grid-column: 1;
    grid-row: 3;
    height: 100px;
    width: 100px;
  }
  .blasonsd img{
    border-radius: 1em;  
  }

  .h2-serdaigle {
    color: rgb(60, 55, 200);
  }
  .p-serdaigle {
color:#44b5d5;
  }
  
  .blasonsp{
     grid-column: 3;
     grid-row: 3;
     height: 100px;
     width: 100px;
  }
  .blasonsp img{
    border-radius: 1em; 
  }


  /* cartes pivotantes */
 
  /* .container a {
    display: flex;
  justify-content: center;
    color: #fff;
    
  } */

.flip-card {
  background-color: transparent;
  height: 200px;
  /*border: 1px solid #f1f1f1;*/
  display: flex;

  /* align-items: center;*/
  margin-top: 2rem;
  /* margin-right: 100px; */
} 

.flip-card-inner {
  position: relative;
  /*width: 100%;
  height: 100%;*/
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* .flip-card-front {
  background-color: #bbb;
  color: black;
} */

.flip-card-back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}

.eleves {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 2rem;
}

.flip-card-back p {
  color: blanchedalmond;
  width: auto;
}

.flip-card-front a {
  color: #fff;
}

.professeurs{
display: flex;
flex-direction: column;
grid-column: 3;

}

.container a {
  color:blanchedalmond ;
  vertical-align: text-top;
  display: flex;
  justify-content: center;
  
}

img {
  border-radius: 20px;
  border: 2px solid #fff;
}

/* fin de carte pivotante */

  .h2-serpentard {
    color: rgb(148, 148, 146);
  }
  .p-serpentard {
color: rgb(24, 117, 41);
  }

/* image jkr biographie */

  #img {
    float: left;
    height: 150px;
    width: 150px;
    height: 8rem;
    width: 8rem;
    margin: 1rem
  }

  p {
    /* font-size: 30px; */
    color: blanchedalmond;
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: justify;
    padding: 0 1rem;
  }

  p a {
    color:yellowgreen;
  }

 @media (min-width: 768px){

 }
   
 